:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #1e1e1e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0.5em;
}

.form-field {
  display: block;
  margin-bottom: 0.5em;
}

.form-field label {
  display: block;
  font-weight: bold;
  color: #1e1e1e;
  font-size: 1.25em;
  margin: 0.25em;
}

.form-field input {
  padding: 0.5em;
  font-size: 2em;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 0.4em;
}
